obj
bin
artifacts
.vs
.suo
eng/tools
*.Import.props
*.g.props
*.user
.teamcity/.idea
.teamcity/target
/.config/dotnet-tools.json
/.tools
nuget.config
global.json
*.g.json
*.g.ps1
eng/docker-context/claude.json
.g/
scripts/build-agents/last-execution.txt
*.log
copilot.data.*
eng/docker-context/.credentials.json
